<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Beranda" 
    icon-off="ion-ios-home-outline" 
    icon-on="ion-ios-home" 
    href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Produk" 
    icon-off="ion-ios-cart-outline" 
    icon-on="ion-ios-cart" 
    href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cara Bermain" 
    icon-off="ion-ios-game-controller-b-outline" 
    icon-on="ion-ios-game-controller-b" 
    href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Skor Tertinggi" 
    icon-off="ion-ios-people-outline" 
    icon-on="ion-ios-people" 
    href="#/tab/account2">
    <ion-nav-view name="tab-account2"></ion-nav-view>
  </ion-tab>

</ion-tabs>
