<ion-view view-title="Mulai Bermain" hide-nav-bar="true" class="m-bacground">
	<ion-content class="game-play">
		<div class="row">
			<div class="col col-33">
				<div class="circle first-circle">
					<knob knob-data="vm.time" knob-options="vm.options" knob-max="vm.options.max"></knob>
				</div>
			</div>
			<div class="col col-33">
				<div class="circle second-circle">
					Score
					<br/>
					{{vm.score}}
				</div>
			</div>
			<div class="col col-33">
				<div class="circle second-circle">
					Level
					<br/>
					{{vm.level}}
				</div>
			</div>
			</div>
		</div>

		<div class="row" ng-repeat="row in vm.rows">
			<div class="col {{vm.getDeckClass()}} game-play-row" ng-repeat="col in vm.cols">
				<span ng-if="vm.imageUrls[row][col]">
					<img ng-src="{{vm.defaultCard}}"
class="game-play-card-center gp-front gp-card {{vm.imageState[row][col]==='close'?'':'flipped'}}"
						ng-click="vm.changeImageState(row, col)"
						/>
					<img ng-src="{{vm.imageUrls[row][col]}}"
class="game-play-card-center gp-back gp-card {{vm.imageState[row][col]==='open'?'flipped':''}}"
						/>
				</span>
			</div>
		</div>
		
	</ion-content>
</ion-view>