.game-play .circle {
	text-align:center;
	background: #606;
	color: #FFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	height: 70px;
	width: 70px;
	text-align: center;
	margin: 0 auto;
}

.game-play .circle.first-circle {
	padding-top: 5px;
	padding-left: 2px;
}

.game-play .circle.second-circle {
	padding-top:15px;
	font-size:15px;
}

#gameComplete {
	top: 10px;
}

#msg {
  text-align: left;
  top: 18px;
  position: relative;
}

.game-play-row {
	min-height: 115px;
	position: relative;
	overflow: hidden;
}
.game-play-card-center {
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
	height: auto;
}
.gp-card {
	padding: 2px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	position: absolute;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.gp-front {
	z-index: 2;
}
.gp-back {
	z-index: 1;
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}
.gp-front.flipped{
	z-index: 1;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}
.gp-back.flipped{
	z-index: 2;   
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}