/* Empty. Add your own CSS if you like */
.tabs-top > .tabs, .tabs.tabs-top { 
	top: 0px !important;
}
.has-tabs-top {
	top: 45px;
}
.m-bacground {
	background: url('../images/bgGame3.png');
	background-position: center;
}
.m-image-center {
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
	height: auto;
}
.m-image-energy {
	max-width: 36%;
	padding-top: 18px;
}
.m-center {
	text-align: center;
}

div.tab-nav.tabs {
	opacity: 0.8;
}