/* Empty. Add your own CSS if you like */
.tabs-top > .tabs, .tabs.tabs-top { 
	top: 10px !important;
}
.has-tabs-top {
	top: 58px;
}

.m-bacground {
	background: url('../images/bgGame2.png');
}
.m-image-center {
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
	height: auto;
}
.m-center {
	text-align: center;
}